- type: job
  id: ChiefTechnicalSpecialist
  name: job-name-chief-technical-specialist
  description: job-description-chief-technical-specialist
  playTimeTracker: JobChiefTechnicalSpecialist
  requirements:
  - !type:OverallPlaytimeRequirement
    time: 144000
  - !type:RoleTimeRequirement
    role: JobGeneralTechnicalSpecialist
    time: 21600
  - !type:DepartmentTimeRequirement
    department: EngineeringTechnicalService
    time: 36000
  weight: 10
  startingGear: ChiefTechnicalSpecialistGear
  icon: JobChiefTechnicalSpecialist
  supervisors: job-supervisors-director
  radioBold: true
  displayWeight: 70
  canBeAntag: true
  accessGroups:
  - ChiefTechnicalSpecialist
  special:
  - !type:AddComponentSpecial
    components:
    - type: CommandStaff
    - type: EmployeeClass
      class: C
    - type: AccessLevel
      level: Four
    - type: ScpAnnounceOnSpawn
      text: head-announce-on-spawn
      channels:
      - EngineeringTechnicalService
      includeJobName: true
    - type: ScpRepairableCanSeeExamineHints

- type: startingGear
  id: ChiefTechnicalSpecialistGear
  equipment:
    id: KeyCardChiefTechnicalSpecialist
    eyes: ClothingEyesGlassesMeson
    ears: ClothingHeadsetAltEngineeringTechnicalService
    belt: ClothingBeltUtilityEngineering
    pocket2: ChiefTechnicalSpecialistPDA
  storage:
    back:
    - Flash
    - Telebaton
