- type: job
  id: Director
  name: job-name-director
  description: job-description-director
  playTimeTracker: JobDirector
  requirements:
    - !type:DepartmentTimeRequirement
      department: Administration
      time: 36000
  weight: 5
  icon: JobDirector
  joinNotifyCrew: true
  supervisors: job-supervisors-O5-command
  canBeAntag: false
  displayWeight: 100
  radioBold: true
  accessGroups:
  - Director
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant ]
  - !type:AddComponentSpecial
    components:
    - type: CommandStaff
    - type: EmployeeClass
      class: B
    - type: AccessLevel
      level: Four
    - type: ScpAnnounceOnSpawn
      text: head-announce-on-spawn
      channels:
      - Administration
      includeJobName: true

- type: startingGear
  id: DirectorGear
  equipment:
    head: ClothingHeadHatDirector
    neck: ClothingNeckTieDet
    jumpsuit: ClothingUniformJumpsuitDirector
    outerClothing: ClothingOuterCoatDirectorTrench
    gloves: ClothingHandsGlovesDirectorSpecial
    shoes: ClothingShoesBootsLaceup
    back: ClothingBackpackSatchelLeatherDirectorFilled
    id: KeyCardDirector
    ears: ClothingHeadsetAltAdministration
    pocket2: DirectorPDA
  storage:
    back:
    - Flash
    - Telebaton
