- type: job
  id: PersonnelOfficer
  name: job-name-personnel-officer
  description: job-description-personnel-officer
  playTimeTracker: JobPersonnelOfficer
  requirements: # TODO: Поменять после того, как игроки наберут время на новых ролях
  - !type:OverallPlaytimeRequirement
    time: 108000 # 30 часов
  weight: 20
  startingGear: PersonnelOfficerGear
  icon: JobPersonnelOfficer
  supervisors: job-supervisors-director
  canBeAntag: false
  radioBold: true
  displayWeight: 90
  accessGroups:
  - PersonnelOfficer
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant ]
  - !type:AddComponentSpecial
    components:
    - type: CommandStaff
    - type: EmployeeClass
      class: C
    - type: AccessLevel
      level: Three
    - type: ScpAnnounceOnSpawn
      text: head-announce-on-spawn
      channels:
      - FoodAndSanitationService
      includeJobName: true

- type: startingGear
  id: PersonnelOfficerGear
  equipment:
    shoes: ClothingShoesColorBrown
    id: KeyCardPersonnelOfficer
    gloves: ClothingHandsGlovesHop
    ears: ClothingHeadsetAltAdministration
    belt: BoxFolderClipboard
    pocket2: PersonnelOfficerPDA
  storage:
    back:
    - Flash
    - Telebaton
