- type: job
  id: SeniorLogisticsOfficer
  name: job-name-senior-logistics-officer
  description: job-description-senior-logistics-officer
  playTimeTracker: JobSeniorLogisticsOfficer
  requirements:
  - !type:OverallPlaytimeRequirement
    time: 144000
  - !type:RoleTimeRequirement
    role: JobLogisticsOfficer
    time: 36000
  weight: 10
  startingGear: SeniorLogisticsOfficerGear
  icon: JobSeniorLogisticsOfficer
  supervisors: job-supervisors-director
  canBeAntag: true
  radioBold: true
  displayWeight: 40
  accessGroups:
  - SeniorLogisticsOfficer
  special:
  - !type:AddComponentSpecial
    components:
    - type: CommandStaff
    - type: EmployeeClass
      class: C
    - type: AccessLevel
      level: Three
    - type: ScpAnnounceOnSpawn
      text: head-announce-on-spawn
      channels:
      - LogisticsService
      includeJobName: true

- type: startingGear
  id: SeniorLogisticsOfficerGear
  equipment:
    id: KeyCardSeniorLogisticsOfficer
    ears: ClothingHeadsetAltLogistics
    pocket1: AppraisalTool
    pocket2: SeniorLogisticsOfficerPDA
  storage:
    back:
    - Flash
