- type: job
  id: MedicalSpecialist
  name: job-name-medical-specialist
  description: job-description-medical-specialist
  playTimeTracker: JobMedicalSpecialist
  requirements:
  - !type:DepartmentTimeRequirement
    department: MedicalService
    time: 10800
  startingGear: MedicalSpecialistGear
  icon: JobMedicalSpecialist
  supervisors: job-supervisors-head-of-medical-sector
  displayWeight: 20
  accessGroups:
  - CommonMedicalJob
  special:
  - !type:AddComponentSpecial
    components:
    - type: EmployeeClass
      class: C
    - type: AccessLevel
      level: Two
    - type: Fear
      phobias:
      - Exoremophobia
      # Врачи не пугаются трупов, у них не будет некрофобии
    - type: ShowScp096FaceDamageHud

- type: startingGear
  id: MedicalSpecialistGear
  equipment:
    ears: ClothingHeadsetMedicalService
    belt: ClothingBeltMedicalFilled
    eyes: ClothingEyesHudMedical
    id: KeyCardMedicalSpecialist
    pocket2: ScpMedicalPDA
