- type: job
  id: ClassDJanitor
  name: job-name-class-d-janitor
  description: job-description-class-d-janitor
  playTimeTracker: JobClassDJanitor
  startingGear: ClassDJanitorGear
  icon: JobClassDJanitor
  supervisors: job-supervisors-security-and-research
  access:
  - ClassDJanitor
  alwaysUseSpawner: true
  special:
  - !type:AddComponentSpecial
    components:
    - type: ClassDAppearance
    - type: EmployeeClass
      class: D

- type: startingGear
  id: ClassDJanitorGear
  equipment:
    head: ClothingHeadHatPurplesoft
    jumpsuit: ClothingUniformClassD
    gloves: ClothingHandsGlovesJanitor
    shoes: ClothingShoesGaloshes
    id: KeyCardClassDJanitor
    belt: ClothingBeltJanitor
  storage:
    belt:
    - Soap
    - LightReplacer
    - SprayBottleSpaceCleaner
